/* Importation des 3 fonts utilisés */

@font-face {
    font-family: "Kbold";
    src: url(.//ressources/Fonts/KyivTypeSans-Bold-.otf);
}
@font-face {
    font-family: "Knorm";
    src: url(.//ressources/Fonts/KyivTypeSans-Thin.otf);
}
@font-face {
    font-family: "Klight";
    src: url(.//ressources/Fonts/KyivTypeSans-Light.ttf);
}

/* Mise en place de mes variables */

:root{
    --titleFont: Kbold, monospace;
    --mainFont: Knorm, monospace;
    --preFont: Klight, monospace;
    --mainColor: #DAD7CD;
    --secondColor: #538083;
    --titleSize: 50px;
    --subtitleSize: 36px;
    --mainSize:30px;

}

/* Reset CSS */

*, ::before, ::after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: var(--mainColor);
}
.mainPageMobile{
    min-height: 100vh;
}
/* Nav Bar position fixed */

.contact{
    position: fixed;
    top: 0;
    z-index: 100000;
    background-color:var(--mainColor);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 70px;
}
.contact > span{
    font-size: var(--subtitleSize);
    font-family: var(--mainFont);
    color: var(--secondColor);
}
.contact > i{
    border: 2px solid var(--secondColor);
    color: var(--secondColor) ;
    padding: 10px;
    border-radius: 50%;
}

/* Titre Main page */

.title{
    margin-top: 70px;
    position: relative;
    height: 220px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: var(--subtitleSize);
    color: var(--mainColor);
    background-color: var(--secondColor);
}
.title > span:nth-last-of-type(1){
    font-family: var(--titleFont);
    position: absolute;
    right: 20px;
    top: 65%;
    
}
.title > span:nth-last-of-type(2){
    font-family: var(--mainFont);
    margin-left: 10px;
    margin-top: -30px;

}

/* Photo de profil */
.profile{
    max-height: 100vh;

}
.profile > img {
    display: block;
    margin:40px auto;
    border-radius: 50%;
    border: 10px solid var(--secondColor)
}
/* Réseaux sociaux */
.socials{
    margin-top: 20px;
    max-height: 20vh;
}
.socials > ul{
    display: flex;
    align-items: center;
    gap: 20px;
    justify-content: center;
}
.socials > ul > li{
    list-style-type: none;
}
.socials > ul > li > a{
    text-decoration: none;
}
.socials > ul > li > a > i{
    color: var(--secondColor);
}
/* Deuxieme page mobile */
.secondPageMobile{
    min-height: 100vh;
    font-family: var(--mainFont);
}
.secondPageMobile > .titleAbout{
    display: flex;
    align-items: center;
    font-size: var(--subtitleSize);
    font-family: var(--titleFont);
    height: 150px;
    background-color: var(--secondColor);
}
.titleAbout > span{
    color: var(--mainColor);
    margin-left: 20px;
}
.blockInfo{
    margin: 0 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: calc(100vh - 150px);
    font-size: var(--mainSize);
    color: var(--secondColor);
}
.block{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.block > span:nth-child(1){
    font-family: var(--titleFont);
}